* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --image-height: auto;
}

nav {
  display: flex;
  background-color: darkblue;
  padding: 10px;
  justify-content: space-around;
}

nav a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

h1 {
  color: darkblue;
  border-bottom: 1px solid darkblue;
}

div.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

.grid,
header,
footer {
  max-width: 840px;
  margin: 0 auto;
}

aside {
  width: 20rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

aside img {
  width: 200px;

  /* height: auto; */
}

aside h2 {
  position: absolute;
  top: 50px;
  left: 120px;
}

main img {
  width: 150px;
  /* height: auto; */
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 0;
}

footer {
  margin-top: 20px;
  border-top: 1px solid black;
  text-align: center;
}

img {
  height: var(--image-height);
}

/* Class Selectors */

.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
}